div{
    height: 300px;
    width: 100px;
    border: 1px solid black;
    background-color:burlywood ;
    transform: rotate(2odeg);
}
div{

    height: 300px;
    width: 100px;
    border: 1px solid black;
    background-color:yellow ;
    /* transform:rotate(-20deg); */
/* transform: scale(2,2); */
/* transform: scaleX(2); */
/* transform: scaley(2); */
 /* transform: rotateX(150deg); */
transform:translate(180px,250px) rotate(40deg);
} 